:root {
    --text-color: rgb(0, 0, 0, 0.7);
}

body {
    background-color: rgb(54, 54, 54);
    color: white;
    font-family: 'Oswald', sans-serif;
}

.container {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 50%;
    padding: 20px;
}

input,
select,
textarea {
    background-color: rgb(46, 46, 46);
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.numeric-fields {
    display: flex;
    justify-content: space-between;
}

.field {
    width: 20%;
}

.right-side {
    width: 50%;
    text-align: center;
}

img,
object {
    position: absolute;
    width: 600px;
    height: 835px;
    left: 0px;
    top: 0px;
}

#element-to-capture {
    position: absolute;
    width: 600px;
    height: 835px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.container {
    position: relative;
}

.div-overlay {
    color: black;
    top: 0px;
    position: relative;
    width: 600px;
    height: 835px;
}

.text-over-image {
    position: absolute;
    text-align: left;
    padding: 10px;
}

#cardTextName {
    font-family: "Draconis";
    font-size: 21px;
    left: 75px;
    top: 13px;
    color: var(--text-color);
}

#cardTextType {
    font-family: "Draconis";
    left: 170px;
    font-size: 11px;
    top: 40px;
    color: white;
    text-align: center;
    width: 235px;
}

#cardTextDesc {
    font-size: 1em;
    left: 35px;
    top: 506px;
    width: 509px;
    height: 235px;
}

.number {
    font-size: 1.3em;
    top: 772px;
    color: var(--text-color);
    font-weight: bold;
}

#cardPower {
    left: 84px;
}

#cardDef {
    left: 205px;
}

#cardMove {
    left: 326px;
}

#cardRange {
    left: 447px;
}

button {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(56, 56, 56);
}